.dropdown__button {
  background-color: transparent;
  margin: 2rem;
  border: none;
}

.dropdown__data {
  display: flex;
  margin-bottom: 1rem;
}

.dropdown__data--item {
  margin-right: 1rem;
  padding: 1rem;
}
