@import '../index.scss';

.loader {
  border: 1.6rem solid $color-light; /* Light grey */
  border-top: 1.6rem solid $color-primary; /* Blue */
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  animation: spin 1.2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}